body {
    background-color: #c0c0d0;
}

* {
    font-family: sans-serif;
}

#login {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#login p {
    font-size: 3em;
}

#login input {
    font-size: 3em;
    background-color: #c0c0d0;
    padding: 2px;
    border-width:1px;
    border-color:#666666;
    border-style:solid;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    outline:none;
}

.message {
    margin-left: 1em;
    display: block;
    margin-bottom: 10px;
}

.timestamp {
    display: inline;
    font-size: 10px;
}

.src {
    display: inline;
    font-size: 15px;
    font-weight: 900;
    margin-right: 10px;
}

.text {
    display: block;
    padding-left: 1em;
}

#input_area textarea {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #000000;
    color: #e0e0e0;
    display: inline;
}

#input_area input {
    display: inline;
    margit-right: auto;
}
